@use '../../styles/variables' as *;
.header {
    position: relative;
    padding-bottom: 15px;
    background-color: var(--color-white) !important;
    padding-top: 10px;
}

.rightContent {
    position: absolute;
    right: 0;
}

.headerTitle {
    text-align: center;
    font-size: 28px;
    color: var(--mj-deep-green);
    font-family: var(--font-montserrat);
    font-weight: 600;
}

.buttonClass {
    background: var(--mj-light-green) !important;
    border-radius: var(--br-8xs) !important;
    font-weight: 500 !important;
    font-size: var(--font-size-lg) !important;
    text-align: center;
    margin-right: 3rem !important;
    color: var(--color-white) !important;
    width: 200px !important;
}
