@use '../../styles/variables' as *;
.diningHeader {
    position: relative;
    padding-bottom: 15px;
    background-color: #ffffff !important;
    padding-top: 10px;
}

.diningHeaderTitle {
    text-align: center;
    font-size: 28px;
    color: var(--mj-deep-green);
    font-family: var(--font-montserrat);
    font-weight: 600;
}

.diningSearchDiv {
    position: absolute;
    right: 0;
}

.diningSearchDivMobile {
    position: relative;
}

.searchIcon {
    color: var(--mj-deep-green);
}

.diningSearchInput {
    border: 1px solid var(--color-whitesmoke-300) !important;
    box-shadow: inset 0px 2px 2px 1px rgba(0, 0, 0, 0.05) !important;
    border-radius: var(--br-8xs) !important;
    width: 300px;
    margin-top: 0px !important;
    margin-right: 3rem !important;
}

.diningSearchInputMobile {
    border: 1px solid var(--color-whitesmoke-300) !important;
    box-shadow: inset 0px 2px 2px 1px rgba(0, 0, 0, 0.05) !important;
    border-radius: var(--br-8xs) !important;
}

.diningButton {
    border-radius: var(--br-8xs) !important;
    display: block !important;
    padding: 0px !important;
    width: 160px;
    background-color: var(--color-white) !important;
    box-shadow: unset !important;
    text-transform: unset !important;
}

.diningButtonText {
    color: var(--title-color);
    font-size: var(--font-size-sm);
    font-weight: 500;
    text-align: center;
}

.diningButtonNumber {
    color: var(--color-turquoise);
    text-align: center;
    font-weight: 600;
    font-size: var(--font-size-5xl);
}

.diningEarlyMealButton {
    background: var(--mj-deep-green) !important;
    border-radius: 5px !important;
    display: block !important;
    padding: 0px !important;
    width: 160px;
    box-shadow: unset !important;
    text-transform: unset !important;
}

.diningEarlyMealButtonText {
    color: var(--color-white);
    font-size: var(--font-size-sm);
    font-weight: 500;
    text-align: center;
}

.diningEarlyMealButtonNumber {
    color: var(--color-white);
    text-align: center;
    font-weight: 600;
    font-size: var(--font-size-5xl);
}

.mealSetupButton {
    height: 60px;
    background-color: var(--color-white) !important;
    color: var(--title-color) !important;
    font-size: var(--font-size-base) !important;
    font-weight: 600 !important;
    width: 260px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1) !important;
    border-radius: var(--br-8xs) !important;
}

.waitingListTableHeader {
    background-color: var(--mj-deep-green);
    position: sticky;
    top: 0;
    z-index: 3;
}

.waitingListTitle {
    color: var(--color-white);
    font-weight: 600;
    font-size: var(--font-size-5xl);
    margin-top: 15px;
}

.waitingListCell {
    border-bottom: 0 !important;
    padding-bottom: 0 !important;
}

.tableCellText {
    font-size: var(--font-size-sm);
    font-weight: 500;
    color: var(--color-white);
    text-align: center;
}

.tableCellValue {
    color: var(--title-color);
    font-weight: 500;
    font-size: var(--font-size-base);
    text-align: center;
}

.tableCellNameText {
    font-size: var(--font-size-sm);
    font-weight: 500;
    color: var(--color-white);
}

.tableCellNameValue {
    color: var(--title-color);
    font-weight: 600;
    font-size: var(--font-size-base);
}

.checkInComponentWithValueBttn {
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    background-color: #88ffe6 !important;
    border-radius: 3px;
}

.checkInComponentWithValueText {
    font-weight: 600;
    font-size: var(--font-size-base);
    color: var(--mj-deep-green);
}

.checkInComponentWithoutValueBttn {
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    background: rgba(136, 255, 230, 0.2) !important;
    border-radius: 3px;
}

.checkInComponentWithoutValueText {
    font-weight: 600;
    font-size: var(--font-size-base);
    color: #a8a8a8;
}

.printBttn {
    background-color: var(--label-color) !important;
    color: var(--color-white) !important;
    font-weight: 600 !important;
    font-size: var(--font-size-base) !important;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 3px !important;
    box-shadow: unset !important;
    text-transform: unset !important;
}

.checkInBttn {
    background-color: var(--color-turquoise) !important;
    color: var(--color-white) !important;
    font-weight: 600 !important;
    font-size: var(--font-size-base) !important;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 3px !important;
    box-shadow: unset !important;
    text-transform: unset !important;
}

.checkInBttnForCheckOut {
    background-color: var(--label-color) !important;
    color: var(--color-white) !important;
    font-weight: 600 !important;
    font-size: var(--font-size-base) !important;
    padding-top: 5px;
    padding-bottom: 5px;
    opacity: 0.5;
    border-radius: 3px !important;
    box-shadow: unset !important;
    text-transform: unset !important;
}

.diningTable {
    max-height: 400px;
    overflow: auto;
}

.diningTable::-webkit-scrollbar {
    width: 5px;
    height: 8px;
    border-radius: 10px;
    background-color: #ebebeb; /* or add it to the track */
}

.diningTable::-webkit-scrollbar-thumb {
    background: #aaa;
    border-radius: 10px;
}

.printModal {
    width: 650px;
    height: 500px;
    background: var(--color-white) !important;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.05) !important;
    border-radius: 25px !important;
}

.printMealCardText {
    color: var(--title-color);
    font-size: var(--font-size-5xl);
    font-weight: 700;
    text-align: center;
}

.printMealCardSubText {
    color: var(--label-color);
    font-size: var(--font-size-base);
    font-weight: 500;
    text-align: center;
}

.printMealCardDivider {
    width: 300px;
    height: 8px;
    background-color: var(--color-turquoise);
    border-radius: 30px;
    margin: auto;
}

.printMealCardNoBttn {
    font-size: var(--font-size-5xl) !important;
    font-weight: 700 !important;
    color: var(--color-lightslategray) !important;
    background-color: var(--color-whitesmoke-300) !important;
    box-shadow: unset !important;
    border-radius: var(--br-8xs) !important;
}

.printMealCardYesBttn {
    font-size: var(--font-size-5xl) !important;
    font-weight: 700 !important;
    color: var(--color-white) !important;
    background-color: var(--color-turquoise) !important;
    box-shadow: unset !important;
    border-radius: var(--br-8xs) !important;
}

.printMealBttnDiv {
    margin-left: 4rem;
    margin-right: 4rem;
    margin-top: 2rem;
}

.printMealCardDividerMobile {
    width: 100%;
    height: 8px;
    background-color: var(--color-turquoise);
    border-radius: 30px;
    margin: auto;
}

.mealCardDivider {
    border-top: 1px solid var(--mj-deep-green);
    border-left: 1px solid var(--mj-deep-green);
    border-right: 1px solid var(--mj-deep-green);
}

.mealCardTitleDivider {
    width: 80mm;
}

.mealCardTitle {
    font-size: var(--font-size-base) !important;
    font-weight: 700 !important;
    color: var(--mj-deep-green) !important;
    text-align: center;
}

.mealCardInfoDivider {
    height: 33mm;
    padding: 5px;
    border-bottom: 1px solid var(--mj-deep-green);
}

.mealCardText {
    font-size: var(--font-size-sm);
    color: var(--mj-deep-green);
}

.mealCardSmallText {
    font-size: 10px;
    margin: auto;
    color: var(--mj-deep-green);
}

.mealCardValue {
    font-size: 16px;
}

.row {
    content: '';
    display: table;
    clear: both;
    width: 100%;
    height: 30px;
}

.dishesColumn {
    float: left;
    padding: 5px;
    width: 40%;
    // border: 1px solid black;
    height: 100%;
    border-bottom: 1px solid var(--mj-deep-green);
}

.weightColumn {
    float: left;
    padding: 5px;
    width: 30%;
    // border: 1px solid black;
    height: 100%;
    border-bottom: 1px solid var(--mj-deep-green);
    border-left: 1px solid var(--mj-deep-green);
    border-right: 1px solid var(--mj-deep-green);
}

.caloriesColumn {
    float: left;
    padding: 5px;
    width: 30%;
    // border: 1px solid black;
    height: 100%;
    border-bottom: 1px solid var(--mj-deep-green);
}

.middleSectionText {
    font-size: var(--font-size-sm) !important;
    color: var(--mj-deep-green);
    text-align: center;
}

.caloriesSectionText {
    font-size: 12px !important;
    color: var(--mj-deep-green);
    text-align: center;
    margin-top: 2px;
}

.dishesTextColumn {
    float: left;
    padding: 5px;
    width: 40%;
    // border: 1px solid black;
}

.dishesRow {
    content: '';
    display: table;
    clear: both;
    width: 100%;
    height: 60px;
}

.mealCardFrontDivider {
    width: 105mm;
    height: 100%;
    // width: 80mm;
}

.mealCardFrontLogoDivider {
    // height: 60px;
    background-color: var(--mj-deep-green);
    display: flex;
    padding: 10px;
}

.mealCardFrontLogoText {
    font-size: 10px !important;
    font-weight: 700 !important;
    color: var(--color-white) !important;
    white-space: nowrap;
}

.mealCardFrontTitle {
    font-weight: 700 !important;
    color: var(--color-white) !important;
    font-size: var(--font-size-lg) !important;
    white-space: nowrap;
}

.mealCardFrontText {
    color: var(--mj-deep-green) !important;
    font-size: var(--font-size-lg) !important;
}

.mealCardFrontBottomText {
    color: var(--mj-deep-green) !important;
    font-size: var(--font-size-xs) !important;
}

@media print {
    html,
    body {
        -webkit-print-color-adjust: exact;
    }
    .pagebreak {
        page-break-before: always !important;
    }
}

@page {
    size: auto;
    margin: 20mm;
}
