@use '../../styles/variables' as *;

.textFieldProps {
    border-radius: 3px !important;
    background-color: var(--color-white) !important;
    box-shadow: inset 0px 1px 4px rgba(0, 0, 0, 0.1) !important;
    font-weight: 500 !important;
    font-size: var(--font-size-base) !important;
    color: var(--title-color) !important;
}

.inputField {
    font-weight: 600 !important;
    font-size: var(--font-size-lg) !important;
    color: var(--title-color) !important;
}

.searchIcon {
    color: var(--mj-deep-green);
}

.top_section_title {
    font-weight: 500 !important;
    font-size: var(--font-size-sm) !important;
    color: var(--title-color) !important;
}

.top_section_search_bttn {
    background: var(--mj-light-green) !important;
    border-radius: var(--br-8xs) !important;
    font-weight: 700 !important;
    font-size: 20px !important;
    text-align: center !important;
    color: var(--color-white) !important;
    margin-top: 20px !important;
}

.top_section_default_gender {
    font-weight: 500 !important;
    font-size: var(--font-size-sm) !important;
    color: var(--color-darkgray-100) !important;
}

.final_report_table_head {
    background-color: var(--mj-deep-green);
}

.final_report_table_head_cell {
    font-weight: 500 !important;
    font-size: var(--font-size-sm) !important;
    color: var(--color-white) !important;
}

.final_report_table_body_cell {
    font-weight: 500 !important;
    font-size: var(--font-size-base) !important;
    color: var(--title-color) !important;
}

.final_report_table_body_cell_bold {
    font-weight: 600 !important;
    font-size: var(--font-size-base) !important;
    color: var(--title-color) !important;
}

.final_report_table_body_date {
    font-weight: 600 !important;
    font-size: var(--font-size-base) !important;
    color: var(--color-darkgray-100) !important;
}

.final_report_table_view_bttn {
    background: var(--mj-light-green) !important;
    border-radius: var(--br-10xs) !important;
    font-weight: 600 !important;
    font-size: var(--font-size-base) !important;
    text-align: center;
    color: var(--color-white) !important;
}
.view_final_report_modal {
    width: 540px;
    max-width: unset !important;
    background: var(--color-white) !important;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.05) !important;
    border-radius: 10px !important;
}

.infoModalColor {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
        linear-gradient(90deg, #3adebb -0.18%, #00aee9 99.82%);

    border-bottom: 2px solid #ededed !important;
    padding: 20px 35px !important;
    overflow-y: unset !important;
}

.infoModalTitle {
    font-weight: 600 !important;
    font-size: var(--font-size-5xl) !important;
    color: var(--color-white) !important;
}

.closeIcon {
    color: var(--color-white) !important;
}

.date_remaining_text {
    font-size: var(--font-size-base) !important;
    color: var(--label-color) !important;
}

.view_final_report_dialog_action {
    background: #fdfdfd !important;
    border-top: 2px solid #f5f5f5 !important;
    justify-content: center !important;
    padding-top: 15px !important;
    padding-bottom: 15px !important;
}

.view_final_report_confirm_disabed_bttn {
    background: var(--color-whitesmoke-100) !important;
    border-radius: var(--br-8xs) !important;
    font-weight: 700 !important;
    font-size: 20px !important;
    text-align: center !important;
    color: #dddddd !important;
}

.view_final_report_confirm_bttn {
    background: var(--color-turquoise) !important;
    border-radius: var(--br-8xs) !important;
    font-weight: 700 !important;
    font-size: 20px !important;
    text-align: center !important;
    color: var(--color-white) !important;
}

.report_followed_modal {
    width: 800px;
    max-width: unset !important;
    background: var(--color-white) !important;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.05) !important;
    border-radius: 10px !important;
}

.report_followed_modal_print_text {
    font-weight: 600 !important;
    font-size: var(--font-size-5xl) !important;
    color: var(--title-color) !important;
}

.report_followed_modal_table_head {
    font-weight: 500 !important;
    font-size: var(--font-size-sm) !important;
    color: var(--title-color) !important;
}

.report_followed_modal_table_body {
    font-weight: 500 !important;
    font-size: var(--font-size-base) !important;
    color: var(--title-color) !important;
}

.report_followed_modal_table_body_date {
    font-weight: 500 !important;
    font-size: var(--font-size-base) !important;
    color: #999999 !important;
}

.report_followed_modal_remaining_table_status {
    font-weight: 500 !important;
    font-size: var(--font-size-sm) !important;
    color: var(--title-color) !important;
}

.report_followed_modal_generate_report_bttn {
    font-weight: 700 !important;
    font-size: 20px !important;
    color: var(--color-white) !important;
}

.rf_supplementary_modal {
    width: 650px;
    height: 500px;
    background: var(--color-white) !important;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.05) !important;
    border-radius: 25px !important;
}

.rf_supplementary_modal_title {
    font-weight: 700 !important;
    font-size: var(--font-size-5xl) !important;
    color: var(--title-color) !important;
    text-align: center;
}

.rf_supplementary_modal_sub_title {
    font-weight: 500 !important;
    font-size: var(--font-size-base) !important;
    text-align: center;
    color: var(--label-color) !important;
}

.rf_modal_div {
    width: 300px;
    height: 8px;
    background-color: var(--color-turquoise);
    border-radius: 30px;
    margin: auto;
}
.rf_modal_div_mobile {
    width: 100%;
    height: 8px;
    background-color: var(--color-turquoise);
    border-radius: 30px;
    margin: auto;
}

.rfModalBttnDiv {
    margin-left: 4rem;
    margin-right: 4rem;
    margin-top: 2rem;
}

.rf_modal_no_bttn {
    background: #eeeeee !important;
    border-radius: var(--br-8xs) !important;
    font-weight: 700 !important;
    font-size: var(--font-size-5xl) !important;
    color: var(--color-lightslategray) !important;
}

.rf_modal_yes_bttn {
    background: var(--mj-light-green) !important;
    border-radius: var(--br-8xs) !important;
    font-weight: 700 !important;
    font-size: var(--font-size-5xl) !important;
    color: var(--color-white) !important;
}

.rf_supplementary_confirm_modal {
    width: 540px;
    background: var(--color-white) !important;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.05) !important;
    border-radius: 25px !important;
}
