@use '../../styles/variables' as *;

.title {
    color: $primaryColor;
    font-size: 20px;
    font-weight: 600;
    word-wrap: break-word;
}

.fieldLabel {
    color: #5a567b;
    font-size: 18px;
    font-weight: 500;
    word-wrap: break-word;
}

.tableBody,
.container {
    background-color: #fff;
}

.cardGrid {
    padding-top: 0 !important;
}

.card {
    // background: linear-gradient(231deg, white 0%, #f3f3f3 100%);
    box-shadow: 0px 3px 6px rgba(89, 86, 122, 0.15);
    border-radius: 10px;
    background-color: white;
    padding: 80px 50px;
    text-align: center;
    font-weight: 600;
    font-size: var(--font-size-base);
    cursor: pointer;
    @media screen and (max-width: 600px) {
        padding: 40px 20px;
    }
}

.card.active {
    border: 4px solid var(--mj-light-green);
    box-shadow: 0px 3px 6px rgba(89, 86, 122, 0.15);
}

.leftBox {
    background: #ededed;
    box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.05) inset;
    border-top-right-radius: 1rem;
    margin-top: 2rem;
}

.rightBox {
    background: #ededed;
    box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.05) inset;
    border-top-left-radius: 1rem;
    margin-top: 0.5rem;
}

.monitorSystemTableTop {
    max-height: 500px;
}

.monitorSystemTableTop::-webkit-scrollbar {
    width: 5px;
    height: 8px;
    border-radius: 10px;
    background-color: #ebebeb; /* or add it to the track */
}

.monitorSystemTableTop::-webkit-scrollbar-thumb {
    background: #aaa;
    border-radius: 10px;
}

.monitorSystemTableHead {
    background-color: var(--mj-deep-green) !important;
    position: sticky;
    top: 0;
    z-index: 3;
}

.monitorSystemTableAreaDisplay {
    padding: 1.5rem !important;
    font-weight: 600 !important;
    font-size: var(--font-size-5xl) !important;
    color: var(--color-white) !important;
    text-transform: uppercase;
}

.monitorSystemTableHeadTitle {
    padding: 0.75rem 1.5rem 0.75rem !important;
    font-weight: 500 !important;
    font-size: var(--font-size-sm) !important;
    color: var(--color-white) !important;
}

.tableCellValue {
    padding: 0.75rem 1.5rem 0.75rem !important;
    color: var(--title-color);
    font-weight: 600;
    font-size: var(--font-size-base);
    // text-align: center;
}

.tableCellSecondValue {
    padding: 0.75rem 1.5rem 0.75rem !important;
    color: var(--title-color);
    font-weight: 600;
    font-size: var(--font-size-base);
}

.tableCellValueLast {
    padding: 0.75rem 1.5rem 0.75rem !important;
    color: var(--color-lightslategray);
    font-weight: 600;
    font-size: var(--font-size-base);
    text-align: center;
}

.flowModifierBttn {
    font-weight: 500 !important;
    font-size: var(--font-size-lg);
    text-align: center;
    color: var(--color-white) !important;
    background-color: var(--label-color) !important;
    // box-shadow: 0px 3px 15px rgba(90, 86, 123, 0.25) !important;
    border-radius: var(--br-8xs) !important;
    padding: 0.7rem 2.6rem;
}

.changeStationBttn {
    font-weight: 500 !important;
    font-size: var(--font-size-lg);
    text-align: center;
    color: var(--color-white) !important;
    background-color: var(--color-turquoise) !important;
    // box-shadow: 0px 3px 15px rgba(90, 86, 123, 0.25) !important;
    border-radius: var(--br-8xs) !important;
    padding: 0.7rem 3.6rem;
}
