@use '../../styles/variables' as *;

.backButtonDiv {
    position: absolute;
    left: 0;
}

.backButton {
    font-weight: 600 !important;
    font-size: var(--font-size-lg) !important;
    color: var(--title-color) !important;
    @media screen and (max-width: 600px) {
        font-size: var(--font-size-xs) !important;
        align-self: center;
    }
    margin-left: 3rem !important;
}

.card {
    background: var(--color-white) !important;
    border-radius: 10px 10px 0px 0px !important;
}

.cardTitle {
    font-weight: 600;
    font-size: var(--font-size-5xl);
    color: var(--mj-deep-green);
}

.authorizationTitle {
    font-weight: 600;
    font-size: var(--font-size-base);
    color: var(--title-color);
}

.saveButtonDiv {
    float: right;
    margin-top: 3rem;
}

.saveButton {
    font-weight: 700 !important;
    font-size: var(--font-size-lg) !important;
    text-align: center;
    color: var(--color-white) !important;
    background-color: var(--color-turquoise) !important;
    text-transform: unset !important;
    border-radius: var(--br-8xs) !important;
    // box-shadow: 0px 3px 15px rgba(33, 155, 142, 0.25) !important;
    width: 300px;
}

.staffDobDateInput {
    border: 1px solid var(--color-whitesmoke-300) !important;
    box-shadow: inset 0px 2px 2px 1px rgba(0, 0, 0, 0.05) !important;
    border-radius: var(--br-8xs) !important;
    background: #f5f5f5 !important;
}
