.services {
    font-size: var(--font-size-lg);
    font-weight: 600;
    align-self: center;
    margin-left: 10px;
}
.headphonesIcon {
    width: 32px;
    height: 32px;
    overflow: hidden;
    object-fit: cover;
}
