@use '../../styles/variables' as *;

.card {
    background: var(--color-white) !important;
    border-radius: 10px 10px 0px 0px !important;
}

.cardTitle {
    font-weight: 600;
    font-size: var(--font-size-5xl);
    color: var(--mj-deep-green);
}

.tabButton {
    background-color: var(--color-whitesmoke-300) !important;
    color: var(--Label-Color, #5a567b) !important;
    font-weight: 500;
}

.tabButton.active {
    background-color: var(--color-white) !important;
    color: var(--title-Color, #5a567b) !important;
    font-weight: 600;
}

.staffInfoTabContent {
    margin-top: 2rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.staffInfoLabel {
    color: var(--Label-Color, #5a567b);
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.staffInfoData {
    color: var(--TItle-Color, #211d4e);
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.staffInfoData .addressLine {
    line-height: 1.75;
}

.savePasswordButton {
    width: 220px;
    font-weight: 600;
}

.saveAuthorizationButton {
    width: 220px;
    height: 64px !important;
    font-weight: 700;
    font-size: var(--font-size-5xl) !important;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.activateButton {
    background-color: var(--color-whitesmoke-300) !important;
    color: var(--Label-Color, #5a567b) !important;
    font-weight: 700;
}

.deactivateButton {
    font-weight: 700;
}

.saveButtonDiv {
    float: right;
    margin-top: 3rem;
}

.saveButton {
    font-weight: 700 !important;
    font-size: var(--font-size-lg) !important;
    text-align: center;
    color: var(--color-white) !important;
    background-color: var(--color-turquoise) !important;
    text-transform: unset !important;
    border-radius: var(--br-8xs) !important;
    // box-shadow: 0px 3px 15px rgba(33, 155, 142, 0.25) !important;
    width: 300px;
}
