@use '../../styles/variables' as *;
.card {
    background: var(--color-white) !important;
    border-radius: 10px 10px 0px 0px !important;
}

.innerCard {
    background: var(--color-white) !important;
    box-shadow: inset 0px 2px 2px 1px rgba(0, 0, 0, 0.05) !important;
    border-radius: 5px !important;
}

.innerCardTitle {
    font-weight: 600;
    font-size: var(--font-size-5xl);
    text-transform: uppercase;
    color: var(--mj-deep-green);
}

.tableColumn {
    background-color: var(--color-whitesmoke-100) !important;
    border: 0 !important;
    padding: 0px 35px 0px 35px !important;
}

.textFieldProps {
    border-radius: 3px !important;
    background-color: var(--color-white) !important;
    box-shadow: inset 0px 1px 4px rgba(0, 0, 0, 0.1) !important;
    font-weight: 500 !important;
    font-size: var(--font-size-base) !important;
    color: var(--title-color) !important;
}

.textInput {
    font-weight: 500 !important;
    font-size: var(--font-size-base) !important;
    text-align: center !important;
    color: var(--label-color) !important;
}

.tableColumnEnd {
    background-color: var(--color-whitesmoke-100) !important;
    border: 0 !important;
    padding: 0px 35px 20px 35px !important;
}

.mealTitle {
    font-weight: 600 !important;
    font-size: var(--font-size-base) !important;
    color: var(--mj-deep-green) !important;
}

.titleCellMealTitle {
    padding-left: 0px !important;
    border: 0 !important;
    padding-bottom: 0px !important;
}

.titleCell {
    padding-left: 0px !important;
    border-bottom: 2px solid var(--color-whitesmoke-300) !important;
}

.mealCategory {
    font-weight: 600 !important;
    font-size: var(--font-size-base) !important;
    color: var(--title-color) !important;
}

.border0 {
    border: 0 !important;
}

.columnTitle {
    font-weight: 500 !important;
    font-size: var(--font-size-base) !important;
    text-align: center;
    color: var(--title-color) !important;
}

.tableColumnTitle {
    background-color: var(--color-whitesmoke-100) !important;
    border: 0 !important;
    padding: 15px 35px 15px 35px !important;
}

.confirmBttnDiv {
    margin-top: 2rem;
    text-align: end;
}

.confirmBttn {
    font-weight: 700 !important;
    font-size: var(--font-size-5xl) !important;
    text-align: center;
    background-color: var(--color-turquoise) !important;
    color: var(--color-white) !important;
    text-transform: unset !important;
    box-shadow: 0px 3px 15px rgba(33, 155, 142, 0.25) !important;
    border-radius: var(--br-8xs) !important;
}
