@use 'styles/variables' as *;

.medical_content_title {
    font-weight: 600 !important;
    font-size: var(--font-size-lg) !important;
    color: var(--mj-deep-green) !important;
}

.add_on_service_div {
    border-radius: 10px;
    border: 2px solid #ededed;
    margin-top: 15px;
}

.add_on_service_op_item_div {
    padding: 10px;
    background: #fbfbfb;
    border-radius: 10px 10px 0px 0px;
}

.add_on_service_op_item_text {
    font-weight: 500 !important;
    font-size: var(--font-size-lg) !important;
    color: var(--label-color) !important;
}

.inputField {
    font-weight: 600 !important;
    font-size: var(--font-size-lg) !important;
    color: var(--title-color) !important;
}

.adornedEndCss {
    padding-right: 0px !important;
}

.modalFormField {
    background: var(--color-whitesmoke-100) !important;
    box-shadow: inset 0px 1.07462px 1.07462px 0.537312px rgba(0, 0, 0, 0.03) !important;
    border-radius: 2px !important;
}

.add_on_service_table_value {
    font-weight: 600 !important;
    font-size: var(--font-size-base) !important;
    color: var(--title-color) !important;
}

.add_on_service_table_delete_bttn {
    font-weight: 500 !important;
    font-size: var(--font-size-base) !important;
    color: var(--mj-deep-green) !important;
}

.add_on_service_table_total_item {
    font-weight: 700 !important;
    font-size: var(--font-size-base) !important;
    color: var(--title-color) !important;
}

.add_on_service_table {
    height: 300px;
    overflow: auto;
}

.add_on_service_table::-webkit-scrollbar {
    width: 8px;
    height: 5px;
    border-radius: 10px;
    background-color: #ebebeb; /* or add it to the track */
}

.add_on_service_table::-webkit-scrollbar-thumb {
    background: #aaa;
    border-radius: 10px;
}

.add_on_service_table_head {
    font-weight: 500 !important;
    font-size: var(--font-size-lg) !important;
    color: var(--label-color) !important;
}

.interview_info_save_bttn {
    /* MJ Light Green */
    background: var(--color-turquoise) !important;
    box-shadow: 0px 3px 15px rgba(33, 155, 142, 0.25) !important;
    border-radius: var(--br-8xs) !important;
    font-weight: 700 !important;
    font-size: var(--font-size-5xl) !important;
    text-align: center;

    color: var(--color-white) !important;
}

.optionalItemModal {
    background: var(--color-whitesmoke-200) !important;
    width: 1040px !important;
    max-width: unset !important;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.05) !important;
    border-radius: 10px !important;
}

.optionalItemTitle {
    font-weight: 500 !important;
    font-size: var(--font-size-lg) !important;
    color: var(--label-color) !important;
}

.optionalItemModalDialogContent {
    background-color: #f5f5f5;
}

.searchInputField {
    font-weight: 500 !important;
    font-size: var(--font-size-lg) !important;
    color: var(--label-color) !important;
    padding-left: 2rem;
    padding-right: 2rem;
}

.modalFormField {
    background: var(--color-whitesmoke-100) !important;
    box-shadow: inset 0px 1.07462px 1.07462px 0.537312px rgba(0, 0, 0, 0.03) !important;
    border-radius: 2px !important;
}

.optionalModalTable {
    max-height: 250px;
}

.optionalModalTable::-webkit-scrollbar {
    width: 8px;
    height: 5px;
    border-radius: 10px;
    background-color: #ebebeb; /* or add it to the track */
}

.optionalModalTable::-webkit-scrollbar-thumb {
    background: #aaa;
    border-radius: 10px;
}

.optionalItemTableHeader {
    position: sticky;
    top: 0;
    z-index: 3;
}

.memberProfileFieldTitle {
    font-weight: 500 !important;
    font-size: var(--font-size-lg) !important;
    color: var(--label-color) !important;
    margin-top: 15px !important;
}

.tableValue {
    font-weight: 600 !important;
    font-size: var(--font-size-lg) !important;
    color: var(--title-color) !important;
}

.optionalItemModalBottomText {
    font-weight: 500 !important;
    font-size: var(--font-size-sm) !important;
    color: var(--color-darkgray-100) !important;
}
