@use '../../styles/variables' as *;

.labTestTitleDiv {
    position: relative;
    padding-bottom: 15px;
    background-color: #ffffff;
    padding-top: 10px;
}

.labTestTitleButtonDiv {
    position: absolute;
}

.labTestTitleButtonDivMobile {
    position: relative;
}

.labTestTitleButtonMobile {
    background-color: #5a567b !important;
}

.labTestTitleButton {
    margin-left: 4rem !important;
    background-color: #5a567b !important;
}

.labTestTitle {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    color: #219e8b;
}

.labTestSection {
    background-color: #d3d3d3;
    height: 120vh;
}

.mt1 {
    margin-top: 1rem;
}

.mt2 {
    margin-top: 2rem;
}

.singleItemBttn {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
        linear-gradient(90deg, #3adebb -0.18%, #00aee9 99.82%);
    font-weight: bold !important;
    font-size: 18px !important;
    width: 100%;
    height: 100%;
}

.outsourceItemBttn {
    background-color: #de4e3a !important;
    font-weight: bold !important;
    font-size: 18px !important;
    width: 100%;
    height: 100%;
}

.searchFieldDiv {
    text-align: end;
}

.searchField {
    background-color: #ffffff;
    .MuiInputBase-root {
        border-radius: 10px !important;
    }
}

.rootSearchField {
    .MuiInputBase-formControl {
        border-radius: 10px !important;
    }
}

.searchIcon {
    color: #219b8e;
}

.labTestTableHeader {
    background-color: #219e8b;
    position: sticky;
    top: 0;
    z-index: 3;
}

.labTestTableColumn {
    color: #ffffff !important;
}

.labTestTable {
    max-height: 600px;
}

.labTestTable::-webkit-scrollbar {
    width: 5px;
    height: 8px;
    border-radius: 10px;
    background-color: #ebebeb; /* or add it to the track */
}

.labTestTable::-webkit-scrollbar-thumb {
    background: #aaa;
    border-radius: 10px;
}

.successIcon {
    color: #3adebb;
    font-size: 10px !important;
}

.failIcon {
    color: #de4e3a;
    font-size: 10px !important;
}

.statusButton {
    font-size: 12px !important;
    font-weight: bold !important;
}

.disabledStatusButton {
    color: #000 !important;
}

.fontBold {
    font-weight: bold !important;
}

.doctorOnShiftText {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */

    color: #ffffff;
}

.doctorName {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;

    color: #ffffff;
}

.time {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 37px;
    text-align: center;
    letter-spacing: 0.14em;
    color: #ffffff;
}

.date {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.3em;

    color: #ffffff;
}

.modalFlex {
    display: flex;
}

.marginLeft15PX {
    margin-left: 15px;
}

.doctorInfoDiv {
    margin-left: 15px;
    margin-top: 3px;
}

.padding25PX {
    padding: 25px;
}

.gradientBackground {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
        linear-gradient(90deg, #3adebb -0.18%, #00aee9 99.82%);
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.whiteBackground {
    background-color: #ffffff;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.checkInTimeTitle {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;

    /* MJ Deep Green */
    color: #219b8e;
}

.checkInTime {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14.8371px;
    line-height: 31px;
    /* or 209% */
    letter-spacing: 0.3em;

    color: #918fa7;
}

.checkoutButton {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 20px !important;
    text-align: center;

    color: #ffffff;
    background-color: #5a567b !important;
}

.closeIcon {
    cursor: pointer;
    color: #ffffff;
}

.labTestBackButtonMobile {
    color: #211d4e !important;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px !important;
    line-height: 22px;
    /* identical to box height */
    text-align: center;
}

.labTestBackButton {
    margin-left: 4rem !important;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px !important;
    line-height: 22px;
    /* identical to box height */
    text-align: center;

    /* TItle Color */
    color: #211d4e !important;
}

.backIcon {
    font-size: 30px !important;
}

.singleItemDiv {
    padding: 4rem;
    background-color: #ffffff;
    border-radius: 5px;
    height: 100%;
    margin-top: 1rem;
}

.itemDiv {
    background-color: #ededed;
    padding: 25px 10px 15px 15px;
    border-radius: 10px;
    // height: 100%;
}

.singleItemLabelContainer {
    background: #ffffff;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 10px 10px 10px 25px;
    cursor: pointer;
}

.labelTextDiv {
    margin: auto !important;
}

.labelText {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    color: #211d4e;
}

.singleItemAvatar {
    background-color: #219b8e !important;

    font-family: 'Montserrat' !important;
    font-style: normal;
    font-weight: 600 !important;
    font-size: 16px !important;
    color: #ffffff;
}

.singleItemTitle {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #211d4e;
    margin-bottom: 1rem;
}

.itemMainGridContainer {
    max-height: 700px;
    overflow: auto;
    padding-right: 10px;
}

.itemMainGridContainer::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    border-radius: 10px;
    background-color: #e6e6e6; /* or add it to the track */
}

.itemMainGridContainer::-webkit-scrollbar-thumb {
    background: #aaa;
    border-radius: 10px;
}

.outsideContainer {
    height: 100vh;
}

.height100 {
    height: 100%;
}

.singleItemMainGridContainer {
    max-height: 250px;
    overflow: auto;
    padding-right: 10px;
}

.singleItemMainGridContainer::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    border-radius: 10px;
    background-color: #e6e6e6; /* or add it to the track */
}

.singleItemMainGridContainer::-webkit-scrollbar-thumb {
    background: #aaa;
    border-radius: 10px;
}

.labTestSingleItemSection {
    background-color: #d3d3d3;
    height: 300vh;
}

.singleItemEditBttn {
    font-family: 'Montserrat' !important;
    font-style: normal;
    font-weight: 700 !important;
    font-size: 18px !important;
    text-align: center;
    background-color: #219b8e !important;
    color: #ffffff;
    height: 50px !important;
}

//Info Modal CSS
.infoModalTitle {
    font-family: 'Montserrat' !important;
    font-style: normal;
    font-weight: 600 !important;
    font-size: 28px !important;
    color: #f9f9f9 !important;
}

.infoModalTitleBackground {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
        linear-gradient(90deg, #3adebb -0.18%, #00aee9 99.82%);
    padding: 20px 0px 20px 25px !important;
}

.infoModalRadius {
    border-radius: 10px !important;
    max-width: 1100px !important;
}

.infoTableTH {
    font-family: 'Montserrat' !important;
    font-style: normal;
    font-weight: 600 !important;
    font-size: 14px !important;
    //text-align: center;
    color: #211d4e !important;
}

.infoTableTRCell {
    font-family: 'Montserrat' !important;
    font-style: normal;
    font-weight: 600 !important;
    font-size: 16px !important;
    color: #211d4e !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}

.infoModalDialogContent {
    padding: 0px 15px 0px 15px !important;
}

.infoModalDialogContent::-webkit-scrollbar {
    width: 5px;
    height: 8px;
    border-radius: 10px;
    background-color: #ebebeb; /* or add it to the track */
}

.infoModalDialogContent::-webkit-scrollbar-thumb {
    background: #aaa;
    border-radius: 10px;
}

.infoModalDialogActions {
    padding: 20px 15px 20px 15px !important;
}

.infoModalDialogConfirmBttn {
    font-family: 'Montserrat' !important;
    font-style: normal;
    font-weight: 700 !important;
    font-size: 20px !important;
    text-align: center !important;
    background-color: #3adebb !important;
    color: #ffffff !important;
    padding-left: 15px !important;
    padding-right: 15px !important;
}

.infoTableTR {
    cursor: pointer;
}

.infoTableTRSelected {
    cursor: pointer;
    background: #f9f9f9 !important;
}

//Lab Test Info
.labTestInfoMenuSelected {
    border-radius: 5px !important;
    font-family: 'Montserrat' !important;
    font-style: normal !important;
    font-weight: 600 !important;
    font-size: 16px !important;
    text-align: center;
    background: #219b8e !important;
    color: #ffffff !important;
}

//Lab Test Info
.labTestInfoMenu {
    border-radius: 5px !important;
    font-family: 'Montserrat' !important;
    font-style: normal !important;
    font-weight: 600 !important;
    font-size: 16px !important;
    text-align: center;
    background: #ededed !important;
    color: #5a567b !important;
}

//Staff Edit Modal{
.staffEditModalDialog {
    border-radius: 8px;
    width: 700px;
    padding: 20px;
}

.staffEditModalDialogTitle {
    font-family: 'Montserrat' !important;
    font-style: normal !important;
    font-weight: 700 !important;
    font-size: 16px !important;
    color: #211d4e !important;
}

.staffEditModalCancelBttn {
    font-family: 'Montserrat' !important;
    font-style: normal !important;
    font-weight: 700 !important;
    font-size: 24px !important;
    text-align: center;
    background-color: #eeeeee !important;
    color: #918fa7 !important;
}

.staffEditModalConfirmBttn {
    font-family: 'Montserrat' !important;
    font-style: normal !important;
    font-weight: 700 !important;
    font-size: 24px !important;
    text-align: center;
    background-color: #3adebb !important;
    color: #ffffff !important;
}

.staffEditModalSmallText {
    font-family: 'Montserrat' !important;
    font-style: normal !important;
    font-weight: 500 !important;
    font-size: 12px !important;
    color: #999999 !important;
}

.staffEditModalLabelProps {
    font-family: 'Montserrat' !important;
    font-style: normal !important;
    font-weight: 600 !important;
    font-size: 16px !important;
    color: #5a567b !important;
}
