@use 'styles/variables' as *;

.print_bttn {
    width: 180px;
    height: 40px;
    background: var(--color-turquoise) !important;
    border-radius: var(--br-10xs) !important;
    font-weight: 600 !important;
    font-size: var(--font-size-lg) !important;
    text-align: center !important;
    color: var(--color-white) !important;
}

.view_bttn{
    width: 180px;
    height: 40px;
    border-radius: var(--br-10xs) !important;
    font-weight: 600 !important;
    font-size: var(--font-size-lg) !important;
    text-align: center !important;
}

.selectedBttn {
    background: var(--color-white) !important;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1) !important;
    border-radius: var(--br-8xs) !important;
    font-weight: 600 !important;
    font-size: var(--font-size-base) !important;
    text-align: center;
    color: var(--title-color) !important;
    width: 250px !important;
    height: 50px !important;
    line-height: unset !important;
}

.unSelectedBttn {
    background: #ededed !important;
    border-radius: var(--br-8xs) !important;
    font-weight: 500 !important;
    font-size: var(--font-size-base) !important;
    text-align: center;
    color: var(--label-color) !important;
    width: 250px !important;
    height: 50px !important;
    line-height: unset !important;
}

.card {
    background: var(--color-white) !important;
    border-radius: var(--br-3xs) !important;
    // padding: 20px 35px;
    margin-top: 20px;
}

.edit_bttn {
    font-weight: 500 !important;
    font-size: var(--font-size-base) !important;
    text-align: center;
    color: var(--mj-deep-green) !important;
}

.divLine {
    height: 2px !important;
    background: #ededed;
    margin-top: 20px !important;
    margin-bottom: 20px !important;
}

.paddingSection {
    padding: 20px 35px;
}

.hmp_title {
    font-weight: 600 !important;
    font-size: var(--font-size-base) !important;
    color: var(--title-color) !important;
}

.hmp_subtitle {
    font-weight: 500 !important;
    font-size: var(--font-size-base) !important;
    color: var(--label-color) !important;
}

.outer_div_background {
    background: var(--color-whitesmoke-100) !important;
}

.outer_div_padding {
    padding-left: 35px;
    padding-right: 35px;
}

.table_head_cell_color {
    background: var(--label-color) !important;
}
.table_head_cell {
    font-weight: 600 !important;
    font-size: var(--font-size-base) !important;
    color: var(--color-white) !important;
}

.textFieldProps {
    border-radius: 3px !important;
    background-color: var(--color-white) !important;
    box-shadow: inset 0px 1px 4px rgba(0, 0, 0, 0.1) !important;
    font-weight: 500 !important;
    font-size: var(--font-size-base) !important;
    color: var(--title-color) !important;
}

.inputField {
    font-weight: 600 !important;
    font-size: var(--font-size-lg) !important;
    color: var(--title-color) !important;
}

.deep_green_title {
    font-weight: 600 !important;
    font-size: var(--font-size-base) !important;
    color: var(--mj-deep-green) !important;
}

.page_3_sub_title {
    font-weight: 500 !important;
    font-size: var(--font-size-base) !important;
    color: var(--title-color) !important;
}

.page_3_unselected_bttn {
    background: #fdfdfd !important;
    border: 1px solid #ededed !important;
    font-weight: 500 !important;
    font-size: var(--font-size-base) !important;
    text-align: center;
    color: var(--label-color) !important;
    border-radius: 2px !important;
    box-shadow: none !important;
    pointer-events: none !important;
}

.page_3_selected_bttn {
    background: var(--mj-light-green) !important;
    font-weight: 600 !important;
    font-size: var(--font-size-base) !important;
    text-align: center;
    color: var(--color-white) !important;
    border-radius: 2px !important;
    box-shadow: unset !important;
}

.table_head_number {
    font-weight: 700 !important;
    font-size: var(--font-size-base) !important;
    color: var(--color-white) !important;
    margin-left: 15px;
    margin-right: 15px;
}

.confirm_changes_bttn {
    background: var(--mj-deep-green) !important;
    font-size: var(--font-size-base) !important;
    color: var(--color-white) !important;
}

.finish_edit_modal {
    width: 650px;
    height: 500px;
    background: var(--color-white) !important;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.05) !important;
    border-radius: 25px !important;
}

.finish_edit_modal_title {
    font-weight: 700 !important;
    font-size: var(--font-size-5xl) !important;
    color: var(--title-color) !important;
    text-align: center;
}

.finish_edit_modal_sub_title {
    font-weight: 500 !important;
    font-size: var(--font-size-base) !important;
    text-align: center;
    color: var(--label-color) !important;
}

.finish_edit_modal_div {
    width: 300px;
    height: 8px;
    background-color: var(--color-turquoise);
    border-radius: 30px;
    margin: auto;
}
.finish_edit_modal_div_mobile {
    width: 100%;
    height: 8px;
    background-color: var(--color-turquoise);
    border-radius: 30px;
    margin: auto;
}

.finish_edit_modal_bttn_div {
    margin-left: 4rem;
    margin-right: 4rem;
    margin-top: 2rem;
}

.finish_edit_modal_no_bttn {
    background: var(--color-red) !important;
    border-radius: var(--br-8xs) !important;
    font-weight: 700 !important;
    font-size: 20px !important;
    color: var(--color-white) !important;
}

.finish_edit_modal_yes_bttn {
    background: var(--mj-light-green) !important;
    border-radius: var(--br-8xs) !important;
    font-weight: 700 !important;
    font-size: 20px !important;
    color: var(--color-white) !important;
}
