@use '../../styles/variables' as *;
.maskGroupIcon {
    position: absolute;
    // left: 0;
    width: 100%;
    height: -webkit-fill-available;
    @media screen and (max-width: 600px) {
        width: 100%;
    }
    // position: absolute;
    // left: 0;
    // width: 100%;
    // height: -webkit-fill-available;
    // @media screen and (max-width: 600px) {
    //     width: 100%;
    // }
}

.maskGroupIcon {
    object-fit: cover;
}

.languageDiv {
    // background: var(--label-color);
    border-radius: 30px;
    // opacity: 0.5;
    background-color: rgba($color: #5a567b, $alpha: 0.5);
    display: flex;
    // column-gap: 10px;
}

.englishLanguage {
    font-weight: 600 !important;
    font-size: var(--font-size-5xl) !important;
    color: var(--color-white) !important;
    margin: auto;
}

.selectedLanguageDiv {
    background-color: var(--color-turquoise);
    border-radius: 30px;
    padding: 10px 15px;
    cursor: pointer;
    z-index: 1;
}

.unselectedLanguageDiv {
    border-radius: 30px;
    padding-right: 10px;
    padding-left: 10px;
    margin: auto;
    cursor: pointer;
}

.chineseLanguage {
    font-family: 'FZZhunYuan-M02S' !important;
    font-weight: 400 !important;
    font-size: var(--font-size-5xl) !important;
    text-align: center;
    color: var(--color-white) !important;
}

.time {
    font-weight: 500 !important;
    font-size: 64px !important;
    text-align: center;
    color: var(--color-white) !important;
    text-align: end;
}

.date {
    font-weight: 700 !important;
    font-size: 32px !important;
    text-align: center;
    color: var(--color-white) !important;
    text-align: end;
    letter-spacing: 8px;
}

.idNo {
    font-weight: 700 !important;
    font-size: var(--font-size-5xl) !important;
    color: var(--color-white) !important;
    margin-top: 5px;
}

.kioskFieldProps {
    background: var(--color-whitesmoke-300) !important;
    border: 1px solid #ddd;
    border-radius: var(--br-8xs) !important;
    font-weight: 500 !important;
    font-size: 20px !important;
    color: #908ea7;
    font-family: var(--font-montserrat) !important;
}

.inputField {
    padding: 8.5px 20px !important;
}

.checkInBttn {
    font-weight: 700 !important;
    font-size: 22px !important;
    text-align: center !important;
    color: var(--color-white) !important;
    background: var(--title-color) !important;
    border-radius: var(--br-8xs) !important;
    text-transform: capitalize !important;
}

.checkInBttn:hover {
    background: linear-gradient(
        90deg,
        #3adebb -0.18%,
        #00aee9 99.82%
    ) !important;
}

.personIcon {
    font-size: 38px !important;
    color: var(--color-white) !important;
}

.walkInNoticeDiv {
    width: 600px;
    border-radius: 20px;
    background-color: rgba($color: #fff, $alpha: 0.5);
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
    padding: 25px 15px;
}

.walkInTitle {
    font-weight: 700 !important;
    font-size: 20px !important;
    color: var(--title-color) !important;
}

.walkInText {
    font-weight: 500 !important;
    font-size: var(--font-size-base) !important;
    text-align: center !important;
    color: var(--title-color) !important;
    margin-top: 0.5rem;
}

.kioskDiv {
    background: url('../../images//mask-group-kiosk@2x.png');
    padding: 8rem;
    // padding-left: 60px;
    // padding-right: 60px;
    // padding-top: 25px;
    background-size: cover;
    // height: 100vh;
}

.kioskInlineModal {
    width: 650px;
    background: var(--color-white) !important;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.05) !important;
    border-radius: 25px !important;
}

.kioskModalTitle {
    font-weight: 700 !important;
    font-size: 32px !important;
    text-align: center !important;
    color: var(--title-color) !important;
    margin: 0.5rem !important;
}

.kioskModalTitleMobile {
    font-weight: 700 !important;
    font-size: var(--font-size-5xl) !important;
    text-align: center !important;
    color: var(--title-color) !important;
    margin: 0.5rem !important;
}

.kioskModalSubTitle {
    font-weight: 700 !important;
    font-size: var(--font-size-5xl) !important;
    text-align: center !important;
    color: #59567a !important;
    margin-top: 0.5rem !important;
}

.kioskModalSubTitleMobile {
    font-weight: 700 !important;
    font-size: var(--font-size-lg) !important;
    text-align: center !important;
    color: #59567a !important;
    margin-top: 0.5rem !important;
}

.kioskModalDivider {
    width: 300px;
    height: 8px;
    background-color: var(--color-turquoise);
    border-radius: 30px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
}
.kioskModalDividerMobile {
    width: 60%;
    height: 8px;
    background-color: var(--color-turquoise);
    border-radius: 30px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
}

.kioskModalTextFieldTitle {
    font-weight: 500 !important;
    font-size: var(--font-size-5xl) !important;
    color: #59567a !important;
    white-space: nowrap !important;
    text-align: center;
}

.kioskModalTextFieldTitleMobile {
    font-weight: 500 !important;
    font-size: 16px !important;
    color: #59567a !important;
    white-space: nowrap !important;
    text-align: center;
}

.kioskModalTextFieldValue {
    font-weight: 700 !important;
    font-size: 28px !important;
    color: var(--title-color) !important;
    text-align: center;
    margin-bottom: 30px;
}

.kioskModalTextFieldValueMobile {
    font-weight: 700 !important;
    font-size: 20px !important;
    color: var(--title-color) !important;
    text-align: center;
    margin-bottom: 10px;
}

.kioskModalReturnText {
    font-weight: 500;
    font-size: var(--font-size-5xl) !important;
    text-align: center;
    color: #908ea7 !important;
    margin-top: 1rem;
    margin-bottom: 1rem;
    cursor: pointer;
}

.kioskModalReturnTextMobile {
    font-weight: 500;
    font-size: var(--font-size-sm) !important;
    text-align: center;
    color: #908ea7 !important;
    margin-top: 1rem;
    cursor: pointer;
}

.kioskModalSecondText {
    font-weight: 700;
}

.myTheme1 {
    background-color: rgba(0, 0, 0, 0.8) !important;
    border-radius: 0 !important;
    border-bottom-right-radius: 5px !important;
    border-bottom-left-radius: 5px !important;
    width: auto !important;
}

.abc {
    background-color: rgba(0, 0, 0, 0.8) !important;
    color: var(--color-white) !important;
    width: auto !important;
}

.kioskWaitingNumber {
    color: var(--mj-deep-green);
    font-weight: 600;
    font-size: 160px;
}

.kioskWaitingNumberMobile {
    color: var(--mj-deep-green);
    font-weight: 600;
    font-size: 70px;
}

.kioskInlineModalContent {
    padding: 2rem 3rem;
}

.kioskInlineModalContentMobile {
    padding: 1.5rem 1rem;
}
