@use '../../styles/variables' as *;

//table
.tableCellValueLast {
    color: var(--color-lightslategray);
    font-weight: 600;
    font-size: var(--font-size-base);
    text-align: center;
}
.monitorSystemDiv {
    padding-left: 3rem;
    padding-right: 3rem;
    margin-top: 2rem;
    @media screen and (max-width: 600px) {
        padding-left: 1rem;
        padding-right: 1rem;
        margin-top: 1rem;
    }
}
.monitorSystemTableTop {
    max-height: 500px;
    border-radius: unset !important;
}
.monitorSystemTableTop::-webkit-scrollbar {
    width: 5px;
    height: 8px;
    border-radius: 10px;
    background-color: #ebebeb;
}
.monitorSystemTableTop::-webkit-scrollbar-thumb {
    background: #aaa;
    border-radius: 10px;
}

.tableCellBoldValue {
    font-weight: 600 !important;
    font-size: var(--font-size-base) !important;
    line-height: 20px;
    color: var(--title-color) !important;
    @media screen and (max-width: 600px) {
        font-size: var(--font-size-sm) !important;
        line-height: normal;
    }
}
.tableCellValue {
    font-weight: 500 !important;
    font-size: var(--font-size-base) !important;
    text-align: center;
    color: var(--title-color);
}

.selectedBttn {
    font-weight: 700 !important;
    font-size: var(--font-size-base) !important;
    text-align: center;
    color: var(--color-white) !important;
    background-color: var(--mj-deep-green) !important;
    height: 60px !important;
    // height: 100%;
    line-height: unset !important;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1) !important;
    border-radius: var(--br-8xs) !important;
}

.selectedBttnMobile {
    font-weight: 700 !important;
    font-size: var(--font-size-base) !important;
    text-align: center;
    color: var(--color-white) !important;
    background-color: var(--mj-deep-green) !important;
    height: 60px !important;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1) !important;
    border-radius: var(--br-8xs) !important;
}

.unselectedBttn {
    font-weight: 500 !important;
    font-size: var(--font-size-base) !important;
    text-align: center;
    color: var(--label-color) !important;
    background-color: #ddd !important;
    height: 60px !important;
    // height: 100%;
    line-height: unset !important;
    box-shadow: none !important;
}

.unselectedBttnMobile {
    font-weight: 500 !important;
    font-size: var(--font-size-base) !important;
    text-align: center;
    color: var(--label-color) !important;
    background-color: #ddd !important;
    height: 60px !important;
    box-shadow: none !important;
}

.tableHeaderTitle {
    color: white;
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
    word-wrap: break-word;
}

// header component
.headerTitle {
    text-align: center;
    font-size: 28px;
    color: var(--mj-deep-green);
    font-family: var(--font-montserrat);
    font-weight: 600;
    margin-top: 0.5rem;
}
.searchInput {
    border: 1px solid var(--color-whitesmoke-300);
    box-shadow: inset 0px 2px 2px 1px rgba(0, 0, 0, 0.05) inset !important;
    border-radius: 5px;
}
.header {
    position: relative;
    padding-bottom: 5px;
    background-color: var(--color-white) !important;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.05) !important;
}
.searchIcon {
    color: var(--mj-deep-green);
}
.monitorSystemTableHeadTitle {
    font-weight: 500;
    font-size: var(--font-size-sm);
    color: var(--color-white);
}
.monitorSystemTableHead {
    background-color: var(--mj-deep-green) !important;
}

//user header
.userHeader {
    background: #5a567b;
    height: 50px;
    padding: 0 3rem !important;
    align-content: center;
    color: #eeeeee;
    font-size: 20px;
    font-weight: 700;
    @media screen and (max-width: 600px) {
        font-size: 10px !important;
        padding: 0 1rem !important;
    }
}
.headerTitle {
    text-align: center;
    font-size: 28px;
    color: var(--mj-deep-green);
    font-family: var(--font-montserrat);
    font-weight: 600;
    @media screen and (max-width: 600px) {
        font-size: var(--font-size-sx) !important;
        align-self: center;
        margin-top: 0.5rem !important;
    }
}

.backButton {
    font-weight: 600 !important;
    font-size: var(--font-size-lg) !important;
    color: var(--title-color) !important;
    @media screen and (max-width: 600px) {
        font-size: 13px !important;
        align-self: center;
        margin-top: 0.5rem !important;
    }
}

.confirmButton {
    text-align: end;
    padding-right: 2rem !important;
    @media screen and (max-width: 600px) {
        padding: 0.5rem !important;
    }
}

//details page
.card {
    background: linear-gradient(231deg, white 0%, #f3f3f3 100%);
    box-shadow: 0px 3px 6px rgba(89, 86, 122, 0.15);
    border-radius: 10px;
}

.cardText {
    color: var(--title-color);
    font-size: var(--font-size-base);
    font-weight: 700;
    @media screen and (max-width: 600px) {
        font-size: var(--font-size-xs);
    }
}

table {
    min-width: 650;
}

.tableContainer {
    max-height: 400 !important;
    overflow-y: auto !important;
}

.stickyHeader {
    position: sticky;
    top: 0;
    background: white;
    z-index: 1;
}

.stickyFooter {
    position: sticky;
    bottom: 0;
    background: white;
    z-index: 1;
}

//Exam Report CSS
.examReportTable .tableCell {
    border-bottom: none !important;
    text-align: center;
}

.examReportTable {
    border-collapse: separate !important;

    .tableCell.current,
    .tableCell.currentTop,
    .tableCell.currentBottom {
        background-color: #ddd;
    }

    .tableCell.backDate,
    .tableCell.backDateTop,
    .tableCell.backDateBottom {
        background-color: var(--color-lightgray);
    }

    .tableCell.currentTop,
    .tableCell.backDateTop {
        border-radius: 8px 8px 0 0;
    }

    .tableCell.currentBottom,
    .tableCell.backDateBottom {
        border-radius: 0 0 8px 8px;
    }

    .tableCell.readonly.current,
    .tableCell.readonly.currentTop,
    .tableCell.readonly.backDateTop,
    .tableCell.readonly.backDate,
    .tableCell.readonly.backDateTop,
    .tableCell.readonly.backDateBottom {
        background-color: #fdfdfd;
        border-left: 1px solid #ededed;
        border-right: 1px solid #ededed;
    }

    .tableCell.readonly.currentTop,
    .tableCell.readonly.backDateTop {
        border-top: 1px solid #ededed;
    }

    .tableCell.readonly.currentBottom,
    .tableCell.readonly.backDateBottom {
        border-bottom: 1px solid #ededed;
    }
}

.examReportTableHeaderLabel,
.tabPageTitle {
    color: var(--mj-deep-green);
    font-size: 1.25rem !important;
    font-weight: 600 !important;
    text-align: left !important;
}

.examReportTableHeaderLabel.readonly {
    color: var(--title-color);
}

.examReportTable .tableCellDateLabel {
    color: var(--title-color);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
}

.examReportTableLabel {
    color: var(--title-color);
    font-size: 1rem !important;
    font-weight: 600 !important;
    text-align: left !important;
}

.examReportTableInput {
    text-align: left !important;
    background-color: var(--color-white);
}

.examReportTableSelectInput {
    min-width: 200px;
}

.commentText {
    font-weight: 600 !important;
    font-size: 20px !important;
    color: var(--mj-deep-green) !important;
}

.inputField {
    font-weight: 600 !important;
    font-size: var(--font-size-lg) !important;
    color: var(--title-color) !important;
}

.textFieldProps {
    border-radius: 3px !important;
    background-color: var(--color-white) !important;
    box-shadow: inset 0px 1px 4px rgba(0, 0, 0, 0.1) !important;
    font-weight: 500 !important;
    font-size: var(--font-size-base) !important;
    color: var(--title-color) !important;
}

.sono_menu {
    // margin-left: 3rem;
    // margin-right: 3rem;
    padding: 20px;
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    column-gap: 15px;
    background-color: #f9f9f9;
    border-top:2px solid #ededed;
    border-bottom:2px solid #ededed;
    // margin-top: 1rem;
    // margin-bottom: 1rem;
}

.sono_menu_mobile {
    margin-left: 1rem;
    margin-right: 1rem;
    padding: 20px;
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    column-gap: 15px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.sono_menu::-webkit-scrollbar {
    display: none;
}

.sono_selected_menu{
    font-weight: 600;
    font-size: var(--font-size-base) !important;
    color: var(--color-white) !important;
    width: 180px !important;
    background: var(--mj-light-green) !important;
    box-shadow: 0px 3px 5px rgba(33, 155, 142, 0.15);
}

.sono_unselected_menu{
    background-color: var(--color-whitesmoke-100) !important;
    font-weight: 500;
    font-size: var(--font-size-base) !important;
    color: var(--label-color) !important;
    width: 180px !important;
}

.sono_edit_bttn{
    background-color: var(--label-color) !important;
    color: var(--color-white) !important;
    font-weight: 700;
    font-size: var(--font-size-5xl) !important;
    width: 220px !important;
}

.sono_confirm_bttn{
    background-color:var(--color-whitesmoke-100) !important;
    color: var(--color-whitesmoke-400) !important;
    font-weight: 700;
    font-size: var(--font-size-5xl) !important;
    width: 220px !important;
    box-shadow: none !important;
}