@use '../../styles/variables' as *;

.header {
    position: relative;
    padding-bottom: 5px;
    padding-top: 5px;
    background-color: var(--color-white) !important;
    // padding-top: 5px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.05) !important;
    // padding-right: 3rem;
    // padding-left: 3rem;
}

.backButton {
    font-weight: 600 !important;
    font-size: var(--font-size-lg) !important;
    color: var(--title-color) !important;
    @media screen and (max-width: 600px) {
        font-size: var(--font-size-sx) !important;
        align-self: center;
    }
}

.headerTitle {
    margin: auto;
    text-align: center;
    font-size: 28px;
    color: var(--mj-deep-green);
    font-family: var(--font-montserrat);
    font-weight: 600;
    @media screen and (max-width: 600px) {
        font-size: 16px;
        align-self: center;
    }
}

.exitStationBttn {
    font-weight: 600 !important;
    font-size: var(--font-size-lg) !important;
    color: var(--color-white) !important;
}

.smallCard {
    background: linear-gradient(
        231.33deg,
        #ffffff 8.64%,
        #f3f3f3 91.7%
    ) !important;
    box-shadow: 0px 3px 6px rgba(89, 86, 122, 0.15) !important;
    border-radius: var(--br-3xs) !important;
    height: 120px;
    display: flex;
    padding: 15px;
    cursor: pointer;
}

.smallCardTitle {
    font-weight: 700 !important;
    font-size: var(--font-size-base) !important;
    text-align: center;
    color: var(--title-color) !important;
    margin: auto;
}

.card {
    // padding: 25px 35px !important;
    border-radius: var(--br-3xs) !important;
    height: 100%;
    padding-bottom: 20px;
}

.selectedBttn {
    background: var(--color-white) !important;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1) !important;
    border-radius: var(--br-8xs) !important;
    font-weight: 600 !important;
    font-size: var(--font-size-base) !important;
    text-align: center;
    color: var(--title-color) !important;
    width: 250px !important;
    height: 50px !important;
    line-height: unset !important;
}

.unSelectedBttn {
    background: #ededed !important;
    border-radius: var(--br-8xs) !important;
    font-weight: 500 !important;
    font-size: var(--font-size-base) !important;
    text-align: center;
    color: var(--label-color) !important;
    width: 250px !important;
    height: 50px !important;
    line-height: unset !important;
}

.divLine {
    height: 2px !important;
    background: #ededed;
    margin-top: 20px !important;
    margin-bottom: 20px !important;
}

.interviewInfoMenuDiv {
    padding: 10px;
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    column-gap: 15px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.interviewInfoMenuDivMobile {
    margin-left: 1rem;
    margin-right: 1rem;
    padding: 10px;
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    column-gap: 15px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.interviewInfoMenuDiv::-webkit-scrollbar {
    display: none;
}

.infoModal {
    width: 1200px !important;
    max-width: unset !important;
    border-radius: 8px !important;
    background-color: var(--color-white) !important;
    max-height: 800px;
    overflow: auto;
}

.infoModalColor {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
        linear-gradient(90deg, #3adebb -0.18%, #00aee9 99.82%);

    border-bottom: 2px solid #ededed !important;
    padding: 20px 35px !important;
    overflow-y: unset !important;
}

.infoModalTitle {
    font-weight: 600 !important;
    font-size: var(--font-size-5xl) !important;
    color: var(--color-white) !important;
}

.closeIcon {
    color: var(--color-white) !important;
}

.modalDialogContent {
    max-height: 700px;
    padding: 20px 35px !important;
}

.modalDialogContent::-webkit-scrollbar {
    width: 8px;
    height: 5px;
    border-radius: 10px;
    background-color: #ebebeb; /* or add it to the track */
}

.modalDialogContent::-webkit-scrollbar-thumb {
    background: #aaa;
    border-radius: 10px;
}

.infoModalTopText {
    font-weight: 600;
    font-size: var(--font-size-base);
    text-align: justify;
    color: var(--title-color);
}

.infoModalRestText {
    font-weight: 500;
    font-size: var(--font-size-base);
    text-align: justify;
    color: var(--title-color);
}

.inputField {
    font-weight: 600 !important;
    font-size: var(--font-size-lg) !important;
    color: var(--title-color) !important;
}

.modalFormField {
    background: var(--color-whitesmoke-100) !important;
    box-shadow: inset 0px 1.07462px 1.07462px 0.537312px rgba(0, 0, 0, 0.03) !important;
    border-radius: 2px !important;
}

.infoModalREVText {
    font-weight: 500;
    font-size: var(--font-size-xs);
    text-align: justify;
    color: var(--title-color);
}

.signatureDiv {
    height: 300px;
    background-color: var(--color-whitesmoke-100);
    border-radius: 10px;
    cursor: pointer;
}

.signatureTitleDiv {
    height: 40px;
    border-radius: 10px 10px 0px 0px;
    background-color: var(--title-color);
}

.signatureTitle {
    font-weight: 600;
    font-size: var(--font-size-base) !important;
    color: var(--color-white) !important;
    text-align: center;
    padding-top: 10px;
}

.addCircleIcon {
    color: var(--color-whitesmoke-300) !important;
    font-size: 7rem !important;
}

.saveBttn {
    background: var(--color-turquoise) !important;
    box-shadow: 0px 3px 15px rgba(33, 155, 142, 0.25) !important;
    border-radius: var(--br-8xs) !important;
    font-weight: 700 !important;
    font-size: 20px !important;
    text-align: center;
    color: var(--color-white) !important;
    text-transform: unset !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}

.signatureModal {
    width: 1000px !important;
    max-width: unset !important;
    border-radius: 20px !important;
    background-color: var(--color-white) !important;
}

.signatureModalDiv {
    height: 500px;
    border: 2px dashed #d9d9d9;
    z-index: 99999;
    position: relative;
}

.signaturePad {
    width: 100%;
    height: 100%;
}

.watermarkDiv {
    position: absolute;
    top: 45%;
    left: 35%;
    z-index: -1 !important;
    pointer-events: none;
}

.watermarkText {
    font-weight: 600 !important;
    font-size: 50px !important;
    color: #d9d9d9 !important;
}

.signatureModalDialogActions {
    padding: 10px 35px !important;
    background-color: var(--color-whitesmoke-100) !important;
}

.signatureModalDialogActionsText {
    font-size: var(--font-size-xs) !important;
    color: #999999;
}

.signatureModalRetryBttn {
    font-weight: 600;
    font-size: var(--font-size-5xl) !important;
    text-align: center;
    background-color: var(--color-whitesmoke-300) !important;
    color: var(--color-lightslategray) !important;
}

.signatureModalSaveBttn {
    font-weight: 600;
    font-size: var(--font-size-5xl) !important;
    text-align: center;
    background-color: var(--color-turquoise) !important;
    color: var(--color-white) !important;
}

.medical_content_title {
    font-weight: 600 !important;
    font-size: var(--font-size-lg) !important;
    color: var(--mj-deep-green) !important;
}

.medical_content_item {
    font-weight: 500 !important;
    font-size: var(--font-size-base) !important;
    color: var(--title-color) !important;
}

.medical_content_div {
    border-right: 2px solid #ededed;
    padding-right: 15px;
}

.deleteBttn {
    font-weight: 500 !important;
    font-size: var(--font-size-xs) !important;
    color: var(--mj-deep-green) !important;
}

.addBttn {
    background: var(--color-turquoise) !important;
    box-shadow: 0px 3px 15px rgba(33, 155, 142, 0.25) !important;
    border-radius: var(--br-8xs) !important;
    font-weight: 600 !important;
    font-size: var(--font-size-base) !important;
    color: var(--color-white) !important;
}

.medical_history_content_div {
    height: 150px;
    overflow: auto;
}

.medical_history_content_div::-webkit-scrollbar {
    width: 8px;
    height: 5px;
    border-radius: 10px;
    background-color: #ebebeb; /* or add it to the track */
}

.medical_history_content_div::-webkit-scrollbar-thumb {
    background: #aaa;
    border-radius: 10px;
}

.tableHeadCellText {
    font-weight: 500 !important;
    font-size: var(--font-size-sm) !important;
    color: var(--label-color) !important;
}

.tableCellValue {
    font-weight: 500 !important;
    font-size: var(--font-size-base) !important;
    color: var(--label-color) !important;
}

.editBttn {
    font-weight: 500 !important;
    font-size: var(--font-size-base) !important;
    color: var(--color-turquoise) !important;
}

.health_condition_delete_bttn {
    font-weight: 500 !important;
    font-size: var(--font-size-base) !important;
    color: #de4e3a !important;
}

.health_condition_table {
    height: 300px;
    overflow: auto;
    margin-top: 15px;
}

.health_condition_table::-webkit-scrollbar {
    width: 5px;
    height: 8px;
    border-radius: 10px;
    background-color: #ebebeb; /* or add it to the track */
}

.health_condition_table::-webkit-scrollbar-thumb {
    background: #aaa;
    border-radius: 10px;
}

.health_conditon_other_comment_div {
    background: var(--color-white) !important;
    box-shadow: inset 0px 2px 2px 1px rgba(0, 0, 0, 0.05) !important;
    border-radius: 8px 8px 0px 0px !important;
    padding: 15px;
}

.currentTableEditModal {
    width: 1200px;
    max-width: unset !important;
    background: var(--color-white) !important;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.05) !important;
    border-radius: 10px !important;
}

.currentTableEditModalDialogContent {
    padding: 15px !important;
}

.callHistorySelect {
    background: #fdfdfd !important;
    box-shadow: inset 0px 2px 2px 1px rgba(0, 0, 0, 0.05) !important;
    border-radius: var(--br-8xs) !important;
}

.currentTableEditTable {
    height: 250px;
    overflow: auto;
    border-radius: 0px !important;
}

.currentTableEditTable::-webkit-scrollbar {
    width: 5px;
    height: 8px;
    border-radius: 10px;
    background-color: #ebebeb; /* or add it to the track */
}

.currentTableEditTable::-webkit-scrollbar-thumb {
    background: #aaa;
    border-radius: 10px;
}

.currentTableEditTableCell {
    background-color: var(--color-whitesmoke-100) !important;
}

.callHistoryTableCell {
    font-weight: 700 !important;
    font-size: var(--font-size-sm) !important;
    color: var(--label-color) !important;
}

.overviewDiv {
    background-color: var(--color-whitesmoke-100);
    padding-left: 20px;
    padding-right: 20px;
    height: 100%;
    padding-top: 6px;
    position: relative;
}

.overviewInnerDiv {
    background-color: var(--color-white) !important;
    border-radius: 4px;
    border: 2px solid #ededed;
    margin-top: 10px;
    padding: 10px;
    height: 380px;
}

.overviewDivBttnStackAbsolute {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 15px;
}

.overviewDivBttnStackRelative {
    position: relative;
}

.currentTableEditModalConfirmBttn {
    font-size: var(--font-size-5xl) !important;
    font-weight: 700 !important;
    color: var(--color-white) !important;
    background-color: var(--color-turquoise) !important;
    box-shadow: unset !important;
}

.currentTableEditModalCancelBttn {
    font-size: var(--font-size-5xl) !important;
    font-weight: 700 !important;
    color: var(--color-lightslategray) !important;
    background-color: var(--color-whitesmoke-300) !important;
    box-shadow: unset !important;
}

.questionnaireBttn {
    background: var(--label-color) !important;
    box-shadow: 0px 3px 15px rgba(33, 155, 142, 0.25) !important;
    border-radius: var(--br-8xs) !important;
    font-weight: 700 !important;
    font-size: 22px !important;
    text-align: center;
    color: var(--color-white) !important;
    line-height: unset !important;
}

.interview_info_save_bttn {
    /* MJ Light Green */
    background: var(--color-turquoise) !important;
    box-shadow: 0px 3px 15px rgba(33, 155, 142, 0.25) !important;
    border-radius: var(--br-8xs) !important;
    font-weight: 700 !important;
    font-size: var(--font-size-5xl) !important;
    text-align: center;

    color: var(--color-white) !important;
}

.adornedEndCss {
    padding-right: 0px !important;
}

.add_on_service_div {
    border-radius: 10px;
    border: 2px solid #ededed;
    margin-top: 15px;
}

.add_on_service_op_item_div {
    padding: 10px;
    background: #fbfbfb;
    border-radius: 10px 10px 0px 0px;
}

.add_on_service_op_item_text {
    font-weight: 500 !important;
    font-size: var(--font-size-lg) !important;
    color: var(--label-color) !important;
}

.add_on_service_table_value {
    font-weight: 600 !important;
    font-size: var(--font-size-base) !important;
    color: var(--title-color) !important;
}

.add_on_service_table_delete_bttn {
    font-weight: 500 !important;
    font-size: var(--font-size-base) !important;
    color: var(--mj-deep-green) !important;
}

.add_on_service_table_total_item {
    font-weight: 700 !important;
    font-size: var(--font-size-base) !important;
    color: var(--title-color) !important;
}

.add_on_service_table {
    height: 300px;
    overflow: auto;
}

.add_on_service_table::-webkit-scrollbar {
    width: 8px;
    height: 5px;
    border-radius: 10px;
    background-color: #ebebeb; /* or add it to the track */
}

.add_on_service_table::-webkit-scrollbar-thumb {
    background: #aaa;
    border-radius: 10px;
}

.add_on_service_table_head {
    font-weight: 500 !important;
    font-size: var(--font-size-lg) !important;
    color: var(--label-color) !important;
}

.optionalItemModal {
    background: var(--color-whitesmoke-200) !important;
    width: 1040px !important;
    max-width: unset !important;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.05) !important;
    border-radius: 10px !important;
}

.optionalItemTitle {
    font-weight: 500 !important;
    font-size: var(--font-size-lg) !important;
    color: var(--label-color) !important;
}

.searchInputField {
    font-weight: 500 !important;
    font-size: var(--font-size-lg) !important;
    color: var(--label-color) !important;
    padding-left: 2rem;
    padding-right: 2rem;
}

.optionalModalTable {
    max-height: 250px;
}
.optionalModalTable::-webkit-scrollbar {
    width: 8px;
    height: 5px;
    border-radius: 10px;
    background-color: #ebebeb; /* or add it to the track */
}

.optionalModalTable::-webkit-scrollbar-thumb {
    background: #aaa;
    border-radius: 10px;
}

.optionalItemTableHeader {
    position: sticky;
    top: 0;
    z-index: 3;
}

.memberProfileFieldTitle {
    font-weight: 500 !important;
    font-size: var(--font-size-lg) !important;
    color: var(--label-color) !important;
    margin-top: 15px !important;
}

.tableValue {
    font-weight: 600 !important;
    font-size: var(--font-size-lg) !important;
    color: var(--title-color) !important;
}

.optionalItemModalBottomText {
    font-weight: 500 !important;
    font-size: var(--font-size-sm) !important;
    color: var(--color-darkgray-100) !important;
}

.optionalItemModalDialogContent{
    background-color: #F5F5F5;
}