.monitorSystemTableHeadTitle {
    font-weight: 500 !important;
    font-size: var(--font-size-sm) !important;
    color: var(--color-white) !important;
}
.monitorSystemTableHead {
    background-color: var(--mj-deep-green) !important;
}

//table
.table {
    max-height: 600px;
}

.table2 {
    border-radius: unset !important;
}

.table::-webkit-scrollbar {
    width: 5px;
    height: 8px;
    border-radius: 10px;
    background-color: #ebebeb; /* or add it to the track */
}

.table::-webkit-scrollbar-thumb {
    background: #aaa;
    border-radius: 10px;
}

.tableHeader {
    background-color: #219e8b;
    position: sticky;
    top: 0;
    z-index: 3;
    color: white;
}

.tableHeader2 {
    background-color: #ededed;
    position: sticky;
    top: 0;
    z-index: 3;
    color: white;
}

.tableAppBar {
    // background: linear-gradient(117deg, #3adebb 11%, #00aee9 100%),
    //     linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
        linear-gradient(117deg, #3adebb 20%, #00aee9 100%);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 140px;
}

.monitorSystemDiv {
    padding-left: 3rem;
    padding-right: 3rem;
    margin-top: 2rem;
    @media screen and (max-width: 600px) {
        padding-left: 1rem;
        padding-right: 1rem;
        margin-top: 1rem;
    }
}
.monitorSystemTableHeadTitle {
    font-weight: 500 !important;
    font-size: var(--font-size-sm) !important;
    color: var(--color-white) !important;
}
.monitorSystemTableHead {
    background-color: var(--mj-deep-green) !important;
    position: sticky;
    top: 0;
    z-index: 3;
}

.textWhite {
    color: #ffffff !important;
}

.fontBold {
    font-weight: bold !important;
}

.infoTableTR {
    cursor: pointer;
}
.tableHeaderTitle {
    color: white;
    font-size: 36px !important;
    font-weight: 700 !important;
    text-transform: uppercase;
    word-wrap: break-word;
}

.textPurple {
    color: #5a567b;
}

.tableHeaderTitle2 {
    color: white;
    font-size: 12px;
    word-wrap: break-word;
}

//modal
.title1 {
    color: white;
    font-size: 18px !important;
    font-weight: 500 !important;
    word-wrap: break-word;
}

.title2 {
    color: white;
    font-size: 28px !important;
    font-weight: 700 !important;
    word-wrap: break-word;
}

.queueNumber {
    color: #3adebb;
    font-size: 30px;
    font-weight: 700;
    word-wrap: break-word;
}

.actionTitle {
    color: #5a567b;
    font-size: 14px;
    font-weight: 500;
    word-wrap: break-word;
}
.actionTitle2 {
    color: #5a567b;
    font-size: 16px;
    font-weight: 700;
    word-wrap: break-word;
}

.queueModal {
    .cancelButton {
        font-weight: 700 !important;
        color: var(--color-lightslategray) !important;
        background-color: var(--color-whitesmoke-300) !important;
        border: none !important;
    }

    .queueButton {
        font-weight: 700 !important;
    }
}
