@use '../../styles/variables' as *;

.screeningRoomTable {
    height: 400px;
    overflow: auto;
}

.screeningRoomTable::-webkit-scrollbar {
    width: 5px;
    height: 8px;
    border-radius: 10px;
    background-color: #ebebeb; /* or add it to the track */
}

.screeningRoomTable::-webkit-scrollbar-thumb {
    background: #aaa;
    border-radius: 10px;
}

.screeningRoomTableHeader {
    background-color: var(--mj-deep-green);
    position: sticky;
    top: 0;
    z-index: 3;
}

.screeningRoomTableCell {
    border-bottom: 0 !important;
    padding-bottom: 0 !important;
}

.screeningRoomTableTitle {
    color: var(--color-white);
    font-weight: 600;
    font-size: var(--font-size-5xl);
    margin-top: 15px;
    padding-left: 15px;
}

.tableCellText {
    font-size: var(--font-size-sm);
    font-weight: 500;
    color: var(--color-white);
    text-align: center;
}

.tableCellNameText {
    font-size: var(--font-size-sm);
    font-weight: 500;
    color: var(--color-white);
}

.tableCellValue {
    color: var(--title-color);
    font-weight: 500;
    font-size: var(--font-size-base);
    text-align: center;
}

.tableCellNameValue {
    color: var(--title-color);
    font-weight: 600;
    font-size: var(--font-size-base);
}

.checkInButton {
    background-color: var(--color-turquoise) !important;
    color: var(--color-white) !important;
    font-weight: 600 !important;
    font-size: var(--font-size-base) !important;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 3px !important;
    box-shadow: unset !important;
    text-transform: unset !important;
}

.checkInButton:disabled {
    background-color: var(--label-color) !important;
    color: var(--color-white) !important;
    font-weight: 600 !important;
    font-size: var(--font-size-base) !important;
    padding-top: 5px;
    padding-bottom: 5px;
    opacity: 0.5;
    border-radius: 3px !important;
    box-shadow: unset !important;
    text-transform: unset !important;
}
