@use 'styles/variables' as *;

table {
    min-width: 650;
}

.tableContainer {
    max-height: 400 !important;
    overflow-y: auto !important;
}

.tableContainer::-webkit-scrollbar {
    width: 8px;
    height: 5px;
    border-radius: 10px;
    background-color: #ebebeb; /* or add it to the track */
}

.tableContainer::-webkit-scrollbar-thumb {
    background: #aaa;
    border-radius: 10px;
}

.stickyHeader {
    position: sticky;
    top: 0;
    background: white;
    z-index: 1;
}

.stickyFooter {
    position: sticky;
    bottom: 0;
    background: white;
    z-index: 1;
}
