@use 'styles/variables' as *;

table {
    min-width: 650px;
}

.tableContainer {
    max-height: 400px !important;
    overflow-y: auto !important;
}

.stickyHeader {
    position: sticky;
    top: 0;
    background: white;
    z-index: 1;
}

.stickyFooter {
    position: sticky;
    bottom: 0;
    background: white;
    z-index: 1;
}
