@use '../../styles/variables' as *;

.newStaffBttnDiv {
    width: 200px;
    position: absolute;
    left: 0;
}

.newStaffBttn {
    font-weight: 700 !important;
    font-size: var(--font-size-lg) !important;
    text-align: center;
    color: var(--color-white) !important;
    background-color: var(--color-turquoise) !important;
    text-transform: unset !important;
    border-radius: var(--br-8xs) !important;
    box-shadow: 0px 3px 15px rgba(33, 155, 142, 0.25) !important;
    margin-left: 3rem !important;
}

.staffManagementHeader {
    position: relative;
    padding-bottom: 15px;
    background-color: #ffffff !important;
    padding-top: 10px;
}

.staffManagementSearchDiv {
    position: absolute;
    right: 0;
}

.searchIcon {
    color: var(--mj-deep-green);
}

.staffManagementSearchInput {
    border: 1px solid var(--color-whitesmoke-300) !important;
    box-shadow: inset 0px 2px 2px 1px rgba(0, 0, 0, 0.05) !important;
    border-radius: var(--br-8xs) !important;
    width: 300px;
    margin-top: 0px !important;
    margin-right: 3rem !important;
}

.staffManagementHeaderTitle {
    text-align: center;
    font-size: 28px;
    color: var(--mj-deep-green);
    font-family: var(--font-montserrat);
    font-weight: 600;
}

.staffManagementSearchInputMobile {
    border: 1px solid var(--color-whitesmoke-300) !important;
    box-shadow: inset 0px 2px 2px 1px rgba(0, 0, 0, 0.05) !important;
    border-radius: var(--br-8xs) !important;
}

.staffManagementTable {
    max-height: calc(100vh - 230px);
}

.staffManagementTable::-webkit-scrollbar {
    width: 5px;
    height: 8px;
    border-radius: 10px;
    background-color: #ebebeb; /* or add it to the track */
}

.staffManagementTable::-webkit-scrollbar-thumb {
    background: #aaa;
    border-radius: 10px;
}

.staffManagementTableHeadTitle {
    font-weight: 500 !important;
    font-size: var(--font-size-sm) !important;
    color: var(--color-white) !important;
}

.staffManagementTableHead {
    background-color: var(--mj-deep-green) !important;
    position: sticky;
    top: 0;
    z-index: 3;
}

.tableCellBoldValue {
    font-weight: 600 !important;
    font-size: var(--font-size-base) !important;
    color: var(--title-color);
}

.tableCellValue {
    font-weight: 500 !important;
    font-size: var(--font-size-base) !important;
    color: var(--title-color);
    text-align: left;
}

.manageAccountButton {
    background-color: var(--color-whitesmoke-300) !important;
    color: var(--label-color) !important;
    font-weight: 600 !important;
    font-size: var(--font-size-base) !important;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 3px !important;
    box-shadow: unset !important;
    text-transform: unset !important;
}
