@use '../../../../styles/variables' as *;

.searchButton,
.createButton {
    border-radius: 5px;
    background: var(--MJ-Light-Green);
    // width: 220px;
    height: 50px;
    flex-shrink: 0;
    color: var(--color-white) !important;
    font-weight: 700 !important;
    line-height: normal;
}

.createButton:disabled {
    background: var(--label-color) !important;
}

.dataTable {
    // max-height: calc(100vh - 230px);
    text-align: center !important;
}

.dataTable::-webkit-scrollbar {
    width: 5px;
    height: 8px;
    border-radius: 10px;
    background-color: #ebebeb; /* or add it to the track */
}

.dataTable::-webkit-scrollbar-thumb {
    background: #aaa;
    border-radius: 10px;
}

.dataTableHeadTitle {
    font-weight: 500 !important;
    font-size: var(--font-size-sm) !important;
    color: var(--color-white) !important;
}

.dataTableHead * {
    background-color: var(--mj-deep-green) !important;
    // position: sticky;
    // top: 0;
    // z-index: 3;
}

.tableCellBoldValue {
    font-weight: 600 !important;
    font-size: var(--font-size-base) !important;
    color: var(--title-color);
}

.tableCellValue {
    font-weight: 500 !important;
    font-size: var(--font-size-base) !important;
    color: var(--title-color);
    text-align: left;
}

.tableActionButton {
    border-radius: 3px;
    background: var(--MJ-Light-Green);
    color: var(--color-white) !important;
    min-width: 100px !important;
    font-weight: 600;
}

.tableActionButton:disabled {
    background: var(--label-color) !important;
}
