.card {
    background: var(--color-white) !important;
    border-radius: 10px 10px 0px 0px !important;
    padding: 2rem;
}

.vegetarianBttn {
    background: var(--color-white) !important;
    // box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1) !important;
    border-radius: var(--br-8xs) !important;
    font-weight: 600 !important;
    font-size: var(--font-size-base) !important;
    text-align: center;
    color: var(--title-color) !important;
}

.nonVegetarianBttn {
    background: #ededed !important;
    border-radius: var(--br-8xs) !important;
    font-weight: 500 !important;
    font-size: var(--font-size-base) !important;
    text-align: center;
    color: var(--label-color) !important;
    // box-shadow: none !important;
}

.divider {
    border: 2px solid #ededed;
    margin-top: 1rem;
}

.innerCard {
    background: var(--color-white) !important;
    box-shadow: inset 0px 2px 2px 1px rgba(0, 0, 0, 0.05) !important;
    border-radius: var(--br-8xs) !important;
    margin-top: 1rem;
    padding: 1rem 3rem;
}

.mealSetupTitle {
    font-weight: 600;
    font-size: var(--font-size-base);
    color: var(--mj-deep-green);
}

.mealSetupColumnTitle {
    font-weight: 500;
    font-size: var(--font-size-base);
    text-align: center;
    color: var(--title-color);
}

.tableCell {
    border: 0 !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.tableCellMealSetupTitle {
    border: 0 !important;
    padding-left: 0 !important;
}

.textFieldProps {
    border-radius: 3px !important;
    background-color: var(--color-white) !important;
    box-shadow: inset 0px 1px 4px rgba(0, 0, 0, 0.1) !important;
    font-weight: 500 !important;
    font-size: var(--font-size-base) !important;
    color: var(--title-color) !important;
}

.textFieldEditProps {
    border-radius: 3px !important;
    background-color: var(--color-lightgray) !important;
    box-shadow: inset 0px 1px 4px rgba(0, 0, 0, 0.1) !important;
    font-weight: 500 !important;
    font-size: var(--font-size-base) !important;
    color: var(--title-color) !important;
}

.mealCategory {
    font-weight: 500 !important;
    font-size: var(--font-size-base) !important;
    color: var(--label-color) !important;
}

.divTableCell {
    border: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.totalTitle {
    font-weight: 600;
    font-size: 20px;
    color: var(--title-color);
}

.total {
    font-weight: 700;
    font-size: var(--font-size-5xl);
    text-align: center;
    color: var(--color-turquoise);
}

.editBttn {
    font-weight: 700 !important;
    font-size: var(--font-size-5xl) !important;
    text-align: center !important;
    color: var(--color-white) !important;
    background-color: var(--label-color) !important;
    text-transform: capitalize !important;
    border-radius: var(--br-8xs) !important;
}

.inputProps {
    text-align: center !important;
    font-weight: 500 !important;
    font-size: var(--font-size-base) !important;
    color: var(--label-color) !important;
}

.inputPropsForMealCategory {
    font-weight: 500 !important;
    font-size: var(--font-size-base) !important;
    color: var(--label-color) !important;
}

.cancelIcon {
    color: #de4e3a !important;
    margin-top: 5px !important;
    cursor: pointer !important;
}

.cancelBttn {
    font-weight: 700 !important;
    font-size: var(--font-size-5xl) !important;
    text-align: center !important;
    color: var(--color-lightslategray) !important;
    background-color: var(--color-whitesmoke-300) !important;
    text-transform: capitalize !important;
    border-radius: var(--br-8xs) !important;
    // box-shadow: unset !important;
}

.saveBttn {
    font-weight: 700 !important;
    font-size: var(--font-size-5xl) !important;
    text-align: center !important;
    color: var(--color-white) !important;
    background-color: var(--color-turquoise) !important;
    text-transform: capitalize !important;
    border-radius: var(--br-8xs) !important;
    // box-shadow: 0px 3px 15px rgba(33, 155, 142, 0.25) !important;
}

.addNewBttn {
    font-weight: 500;
    font-size: var(--font-size-base) !important;
    color: var(--label-color) !important;
    background-color: var(--color-white) !important;
    justify-content: start !important;
}

.addIcon {
    color: var(--color-turquoise) !important;
}

.addNewModal {
    width: 700px;
    height: 200px;
    background: var(--color-white) !important;
    border-radius: var(--br-3xs) !important;
}

.addNewModalTitle {
    font-weight: 500 !important;
    font-size: var(--font-size-sm) !important;
    color: var(--title-color) !important;
    font-family: var(--font-montserrat) !important;
}

.addNewModalCancelBttn {
    font-weight: 700 !important;
    font-size: var(--font-size-lg) !important;
    text-align: center;
    color: var(--color-lightslategray) !important;
    background-color: var(--color-whitesmoke-300) !important;
    border-radius: var(--br-10xs) !important;
    text-transform: unset !important;
    box-shadow: unset !important;
}

.addNewModalAddBttn {
    font-weight: 700 !important;
    font-size: var(--font-size-lg) !important;
    text-align: center;
    color: var(--color-white) !important;
    background-color: var(--color-turquoise) !important;
    border-radius: var(--br-10xs) !important;
    text-transform: unset !important;
    box-shadow: unset !important;
}
