.stickerPrintingSearchInput {
    border: 1px solid var(--color-whitesmoke-300) !important;
    box-shadow: inset 0px 2px 2px 1px rgba(0, 0, 0, 0.05) !important;
    border-radius: var(--br-8xs) !important;
}

.searchIcon {
    color: var(--mj-deep-green);
}

.printBarcodeBttn {
    font-weight: 700 !important;
    font-size: var(--font-size-lg) !important;
    text-align: center;
    color: var(--color-white) !important;
    background-color: var(--label-color) !important;
}

.printStickerBttn {
    font-weight: 700 !important;
    font-size: var(--font-size-lg) !important;
    text-align: center;
    color: var(--color-white) !important;
    background-color: var(--color-turquoise) !important;
}

.marginAuto {
    margin: auto !important;
}

.stickerPrintingTable {
    max-height: 500px;
}

.stickerPrintingTable::-webkit-scrollbar {
    width: 5px;
    height: 8px;
    border-radius: 10px;
    background-color: #ebebeb; /* or add it to the track */
}

.stickerPrintingTable::-webkit-scrollbar-thumb {
    background: #aaa;
    border-radius: 10px;
}

.stickerPrintingTableHead {
    background-color: var(--mj-deep-green) !important;
    position: sticky;
    top: 0;
    z-index: 3;
}

.stickerPrintingTableHeadTitle {
    font-weight: 500 !important;
    font-size: var(--font-size-sm) !important;
    color: var(--color-white) !important;
}

.tableCellValue {
    color: var(--title-color);
    font-weight: 500;
    font-size: var(--font-size-base);
    text-align: center;
}

.tableCellBoldValue {
    font-weight: 600 !important;
    font-size: var(--font-size-base) !important;
    color: var(--title-color) !important;
}

.printStickerModal {
    width: 650px;
    height: 500px;
    background: var(--color-white) !important;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.05) !important;
    border-radius: 25px !important;
}

.printStickerText {
    color: var(--title-color) !important;
    font-size: var(--font-size-5xl) !important;
    font-weight: 700 !important;
    text-align: center;
}

.printStickerSubText {
    color: var(--label-color) !important;
    font-size: var(--font-size-base) !important;
    font-weight: 500 !important;
    text-align: center !important;
}

.printStickerDivider {
    width: 300px;
    height: 8px;
    background-color: var(--color-turquoise);
    border-radius: 30px;
    margin: auto;
}
.printStickerDividerMobile {
    width: 100%;
    height: 8px;
    background-color: var(--color-turquoise);
    border-radius: 30px;
    margin: auto;
}

.printStickerBttnDiv {
    margin-left: 4rem;
    margin-right: 4rem;
    margin-top: 2rem;
}

.printStickerNoBttn {
    font-size: var(--font-size-5xl) !important;
    font-weight: 700 !important;
    color: var(--color-lightslategray) !important;
    background-color: var(--color-whitesmoke-300) !important;
}

.printStickerYesBttn {
    font-size: var(--font-size-5xl) !important;
    font-weight: 700 !important;
    color: var(--color-white) !important;
    background-color: var(--color-turquoise) !important;
}

.printBarcodeModal {
    width: 800px !important;
    max-width: unset !important;
    border-radius: 10px !important;
}

.printBarcodeModalTitle {
    font-weight: 600 !important;
    font-size: var(--font-size-5xl) !important;
    color: var(--color-white) !important;
}

.printBarcodeTitleColor {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
        linear-gradient(90deg, #3adebb -0.18%, #00aee9 99.82%);

    border-bottom: 2px solid var(--color-whitesmoke-200);
}

.closeIcon {
    color: var(--color-white) !important;
}

.checkBoxSelected {
    font-weight: 500 !important;
    font-size: var(--font-size-sm) !important;
    color: var(--title-color) !important;
    font-family: var(--font-montserrat) !important;
}

.checkBoxUnselected {
    font-weight: 500 !important;
    font-size: var(--font-size-sm) !important;
    color: var(--color-darkgray-100) !important;
    font-family: var(--font-montserrat) !important;
}

.printBarcodeOptionTitle {
    font-weight: 600 !important;
    font-size: var(--font-size-base) !important;
    color: var(--title-color) !important;
}

.printBarcodeDateInput {
    border: 1px solid var(--color-whitesmoke-300) !important;
    box-shadow: inset 0px 2px 2px 1px rgba(0, 0, 0, 0.05) !important;
    border-radius: var(--br-8xs) !important;
}

.dateTitle {
    font-weight: 500 !important;
    font-size: var(--font-size-sm) !important;
    color: var(--title-color) !important;
}

.printBarcodeActions {
    justify-content: center !important;
    padding: 20px !important;
    background: #fdfdfd !important;
    border-top: 2px solid var(--color-whitesmoke-200) !important ;
}

.printBttn {
    width: 180px !important;
    font-weight: 700 !important;
    font-size: 20px !important;
    text-align: center !important;
    color: var(--color-white) !important;
    background-color: var(--color-turquoise) !important;
}

.printStickerRow {
    content: '';
    display: table;
    clear: both;
    width: 100%;
    height: 29.7mm;
    border: 1px solid;
}

.printStickerNumber {
    font-weight: 600 !important;
    font-size: var(--font-size-5xl) !important;
    color: var(--title-color) !important;
}

.printStickerSmallText {
    font-weight: 500 !important;
    font-size: 8px !important;
    color: var(--title-color) !important;
}

.printStickerName {
    font-weight: 600 !important;
    font-size: 8px !important;
    color: var(--title-color) !important;
}

.printStickerDate {
    font-weight: 600 !important;
    font-size: 10px !important;
    color: var(--title-color) !important;
}
