@use '../../styles/variables' as *;

.header {
    position: relative;
    padding-bottom: 15px;
    background-color: #ffffff !important;
    padding-top: 10px;
}

.headerTitle {
    text-align: center;
    font-size: 28px;
    color: var(--mj-deep-green);
    font-family: var(--font-montserrat);
    font-weight: 600;
    @media screen and (max-width: 600px) {
        font-size: 16px;
        align-self: center;
    }
}

.backButton {
    font-weight: 500 !important;
    font-size: var(--font-size-lg) !important;
    // text-align: center;
    color: var(--title-color) !important;
}

.titleButtonDiv {
    position: absolute;
    margin-left: 4rem;
}

.titleButtonDivMobile {
    position: relative;
}

.backIcon {
    font-size: 30px !important;
}
