@use '../../styles/variables' as *;
.physicianConsultationHeader {
    position: relative;
    padding-bottom: 15px;
    background-color: #ffffff !important;
    padding-top: 10px;
}

.physicianConsultationSearchDiv {
    position: absolute;
    right: 0;
}

.searchIcon {
    color: var(--mj-deep-green);
}

.physicianConsultationSearchInput {
    border: 1px solid var(--color-whitesmoke-300) !important;
    box-shadow: inset 0px 2px 2px 1px rgba(0, 0, 0, 0.05) !important;
    border-radius: var(--br-8xs) !important;
    width: 300px;
    margin-top: 0px !important;
    margin-right: 3rem !important;
}

.physicianConsultationHeaderTitle {
    text-align: center;
    font-size: 28px;
    color: var(--mj-deep-green);
    font-family: var(--font-montserrat);
    font-weight: 600;
}

.physicianConsultationSearchInputMobile {
    border: 1px solid var(--color-whitesmoke-300) !important;
    box-shadow: inset 0px 2px 2px 1px rgba(0, 0, 0, 0.05) !important;
    border-radius: var(--br-8xs) !important;
}

.physicianTable {
    max-height: 400px;
    overflow: auto;
}

.physicianTable::-webkit-scrollbar {
    width: 5px;
    height: 8px;
    border-radius: 10px;
    background-color: #ebebeb; /* or add it to the track */
}

.physicianTable::-webkit-scrollbar-thumb {
    background: #aaa;
    border-radius: 10px;
}

.waitingListTableHeader {
    background-color: var(--mj-deep-green);
    position: sticky;
    top: 0;
    z-index: 3;
}

.waitingListCell {
    border-bottom: 0 !important;
    padding-bottom: 0 !important;
}

.waitingListTitle {
    color: var(--color-white);
    font-weight: 600;
    font-size: var(--font-size-5xl);
    margin-top: 15px;
    padding-left: 15px;
}
.tableCellText {
    font-size: var(--font-size-sm);
    font-weight: 500;
    color: var(--color-white);
    text-align: center;
}
.tableCellNameText {
    font-size: var(--font-size-sm);
    font-weight: 500;
    color: var(--color-white);
}

.tableCellValue {
    color: var(--title-color);
    font-weight: 500;
    font-size: var(--font-size-base);
    text-align: center;
}

.tableCellNameValue {
    color: var(--title-color);
    font-weight: 600;
    font-size: var(--font-size-base);
}

.printBttn {
    background-color: var(--label-color) !important;
    color: var(--color-white) !important;
    font-weight: 600 !important;
    font-size: var(--font-size-base) !important;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 3px !important;
    box-shadow: unset !important;
    text-transform: unset !important;
}
.checkInBttn {
    background-color: var(--color-turquoise) !important;
    color: var(--color-white) !important;
    font-weight: 600 !important;
    font-size: var(--font-size-base) !important;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 3px !important;
    box-shadow: unset !important;
    text-transform: unset !important;
}

.checkInComponentWithValueBttn {
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    background-color: #88ffe6 !important;
    border-radius: 3px;
}
.checkInComponentWithValueText {
    font-weight: 600;
    font-size: var(--font-size-base);
    color: var(--mj-deep-green);
}
.checkInComponentWithoutValueBttn {
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    background: rgba(136, 255, 230, 0.2) !important;
    border-radius: 3px;
}
.checkInComponentWithoutValueText {
    font-weight: 600;
    font-size: var(--font-size-base);
    color: #a8a8a8;
}

.viewPDFBttn {
    background: var(--label-color) !important;
    border-radius: 3px !important;
    font-weight: 600 !important;
    font-size: var(--font-size-base) !important;
    text-align: center;
    color: var(--color-white) !important;
}

.checkInBttnForCheckOut {
    background-color: var(--label-color) !important;
    color: var(--color-white) !important;
    font-weight: 600 !important;
    font-size: var(--font-size-base) !important;
    padding-top: 5px;
    padding-bottom: 5px;
    opacity: 0.5;
    border-radius: 3px !important;
    box-shadow: unset !important;
    text-transform: unset !important;
}

.viewPDFModal {
    width: 650px;
    height: 500px;
    background: var(--color-white) !important;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.05) !important;
    border-radius: 25px !important;
}

.viewPDFModalText {
    color: var(--title-color) !important;
    font-size: var(--font-size-5xl) !important;
    font-weight: 700 !important;
    text-align: center;
}

.viewPDFModalDivider {
    width: 300px;
    height: 8px;
    background-color: var(--color-turquoise);
    border-radius: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}
.viewPDFModalDividerMobile {
    width: 100%;
    height: 8px;
    background-color: var(--color-turquoise);
    border-radius: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}
