@use 'styles/variables' as *;

table {
    min-width: 650;
}

.tableContainer {
    max-height: 400 !important;
    overflow-y: auto !important;
}

.stickyHeader {
    position: sticky;
    top: 0;
    background: white;
    z-index: 1;
}

.stickyFooter {
    position: sticky;
    bottom: 0;
    background: white;
    z-index: 1;
}

.saveButton {
    color: var(--color-white);
    font-size: var(--font-size-5xl) !important;
    font-weight: 700 !important;
    width: 220px;
    height: 64px;
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
}

.title {
    color: var(--mj-deep-green);
    font-size: 20px;
    font-weight: 600 !important;
}

.title.readonly {
    color: var(--title-color);
}
